#questionsDiv {
  background-image: url("../../images/got-questions.png");
  background-size: contain;
}

#logo1 {
  background-image: url("../../images/logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
  margin-top: 10px;
}

#logo2 {
  background-image: url("../../images/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}

#logo3 {
  background-image: url("../../images/logo3.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
  margin-top: 10px;
}

#logo4 {
  background-image: url("../../images/logo4.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}

#logo5 {
  background-image: url("../../images/logo5.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}

#logo6 {
  background-image: url("../../images/logo6.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}

#logo7 {
  background-image: url("../../images/logo7.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}

#logo8 {
  background-image: url("../../images/logo8.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 150px;
}
